<% if picture.present? %>
  <%= image_tag picture.variant(resize_to_fill: [500, 500]), class: "img-fluid margin-10" %>
<% else %>
  <p class="missing-picture margin-10"><i class='fa fa-camera'></i> Image manquante</p>
<% end %>
