<% if picture.present? %>
  <%= link_to rails_blob_path(picture, disposition: "attachment"), class: "download-picture", 'data-bs-toggle' => "tooltip", title: "Télécharger l'image" do %>
    <%= image_tag picture.variant(resize_to_fill: [500, 500]), class: "img-fluid margin-10" %>
  <% end %>
<% else %>
  <p class="missing-picture margin-10"><i class='fa fa-camera'></i> Image manquante</p>
<% end %>
