<h1>Liste des utilisateurs</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> |
      <%= link_to "Modifier", edit_user_path(user) %> |
      <%= link_to "Supprimer", user_path(user),
                        method: :delete,
                        data: { confirm: "Etes-vous sûr ?" } %>

    </li>

  <% end %>
</ul>

<%= link_to "Ajouter un utilisateur", new_user_path %>
