// Place all the styles related to the Figurines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.figurine-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#collapseBookingForm {
  margin-top: 20px;
}

.figurines-header th {
  color: rgba(0, 0, 0, 0.7);
}

.figurines-header th a.current {
  color: black;
}
