@import "variables";

.container {
  margin: 20px auto;
  width: 80%;
}

.btn:focus, .navbar-toggler:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: $black;
}

a {
  text-decoration: none;
  color: $medium-black-link;
}

a:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: $black;
}

.navbar-light .navbar-nav .nav-link {
  color: $light-black-link;
}

.fa.green {
  color: $green;
}

.fa.red {
  color: $red;
}

.margin-10 {
  margin: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.pagination .page-link {
  color: $light-black-link;
}

.pagination .page-item.active .page-link {
  background-color: $grey;
  border-color: $grey;
}

.list-actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.back-link {
  position: relative;
  top: -10px;
}

.missing-picture i {
  color: $grey;
}

.download-picture:hover {
  opacity: 0.8
}

.hidden {
  display: none;
}

.delete-link {
  color: $red-link;
}

.delete-link:hover {
  color: $red;
}

table ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.checkboxes-group {
  max-height: 130px;
  overflow: scroll;
}
